html
{
	position:relative;
	min-height: 100%;
}
body
{
	padding-top: @navbar-height;
	margin-bottom: @navbar-height;
}
#ra_jq_loader_screen,#ra_jq_loader,.m-center
{
	position:fixed;
	z-index:3
}
#ra_jq_loader
{
	top:0;
	left:0;
	width:100%;
	height:100%;
	cursor:pointer;
	z-index:3
}
#ra_jq_loader_screen
{
	position:fixed;
	top:50%;
	left:50%;
	width:150px;
	height:100px;
	margin-left:-75px;
	margin-top:-35px;
	background-color:#000;
	opacity:.2
}
#ra_jq_text
{
	position:fixed;
	top:50%;
	left:50%;
	width:150px;
	margin-left:-75px;
	margin-top:40px;
	text-align:center;
	font-size:2em
}
#ra_alerts
{
	position:fixed;
	z-index:3
}
#ra_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: @navbar-height;
  background-color: #f5f5f5;
}
.ra_footer_img{
	margin-top: @navbar-height/10;
	height: @navbar-height*4/5;
	background-color:#FFF;
}

.ra_user
{
	color:#000;
}

.ra_user:hover
{
	color:#000;
	text-decoration: none;
}

.ra_post_picture
{
	width:100px;
}

.ra_hash{
	position:relative;
	top:-@navbar-height;
}

.ra_img_cont{
	position: relative;
}

.ra_member_on_image{
	position: absolute;
	width:80px;
	height:80px;
}

.ra_member_on_image:hover{
		border: 1px solid #FFF;
		border-radius: 2px;
		cursor: pointer;
}

.ra_member_text{
	color:#000;
	text-decoration: none;
}

.ra_member_text:hover{
	color:#000;
	text-decoration: none;
}

.ra_member_text .media:hover{
	background-color: #f4f4f4;
}
